.card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--cor-azul__medio);
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
    5px 5px 20px rgba(54, 40, 101, 0.5);
}

.aberto {
  top: 20vh;
  z-index: 2;
  width: auto;
  max-height: 25rem;
  height: auto;
  left: 300px;
  overflow: auto;
  right: 300px;
  padding: 1rem 1rem 0 1rem;
  position: fixed;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.fechado:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.fechado {
  width: 25%;
  height: 40vh;
  padding: 20px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
}

.card_background {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  position: fixed;
  background-color: rgba(23, 8, 37, 0.915);
}

.card_background:hover {
  cursor: pointer;
}

.logo-projeto {
  width: 50px;
  height: auto;
  display: flex;
  filter: hue-rotate(9deg);
  color: var(--cor-detalhes-azul);
}

.logo-pesquisa {
  width: 45px;
  height: auto;
  display: flex;
  filter: hue-rotate(9deg);
  color: var(--cor-detalhes-azul);
}

.logo-projeto-dev {
  width: 50px;
  height: auto;
  display: flex;
  filter: hue-rotate(9deg);
  color: var(--cor-detalhes-azul);
}

.logo-projeto-dev:hover {
  cursor: pointer;
  animation: jump 0.75s;
}

.Icon {
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 15%;
  margin-left: 50%;
  color: var(--cor-detalhes-azul);
}

.icon-aberto {
  width: 35px;
  height: 35px;
  display: flex;
  margin-left: 50%;
  color: var(--cor-detalhes-azul);
}

.Icon:hover {
  cursor: pointer;
  animation: jump 0.75s;
}

.logoConteinerOpenned {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.logoConteinerClosed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.closeButton {
  color: var(--cor-detalhes-azul);
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
}

.closeButton:hover {
  cursor: pointer;
}

.card-titulo {
  color: var(--cor-detalhes-azul);
}

.card-descricao {
  color: var(--cor-texto__claro);
  text-align: justify;
}

.card--texto__expandido {
  text-align: justify;
  line-height: 150%;
  padding-right: 1rem;
  padding-bottom: 1rem;
  color: var(--cor-texto__claro);
}

.card--texto__envolvidos {
  display: flex;
  flex-direction: row;
}

.status-fechado {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--cor-detalhes-azul);
  color: var(--cor-azul__medio);
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}

.tooltip {
  background-color: var(--cor-detalhes-azul) !important;
  color: var(--cor-azul__medio) !important;
  padding: 10px 15px !important;
  border-radius: 10px !important;
  font-size: 14px !important;
  box-shadow: 2px 2px 5px rgba(20, 16, 56, 0.3) !important;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% { 
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 2750px) {
  .aberto {
    left: 30%;
    right: 30%;
    max-height: 65vh;
    max-width: 40vw;
  }
}

@media (max-width: 2750px) {
  .aberto {
    left: 30%;
    right: 30%;
    max-height: 65vh;
    max-width: 40vw;
  }
}

@media (max-width: 2190px) {
  .aberto {
    max-height: 75vh;
  }
}

@media (max-width: 1614px) {
  .card--texto__expandido {
    line-height: 140%;
  }
  .card-titulo {
    font-size: 1.25rem;
  }
  .aberto {
    max-width: 40rem;
    max-height: 85vh;
  }
}

@media (max-width: 1150px) {
  .card-titulo {
    font-size: 1rem;
  }
}

@media (max-width: 950px) {
  .fechado {
    height: auto;
    width: 80vh;
  }
}

@media (max-width: 915px) {
  .card-titulo {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .aberto {
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
  }
  .card-titulo {
    font-size: 1.5rem;
  }
  .card--texto__expandido {
    line-height: 118%;
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .card-titulo {
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .card--texto__expandido {
    font-size: 1.2rem;
  }
  .card-titulo {
    font-size: 1.3rem;
  }
}

@media (max-width: 370px) {
  .card-titulo {
    font-size: 0.8rem;
  }
}
